<div class="center hero-unit">
  <h1>Witaj na stronie poświęconej grze Tabu:)</h1>

  <h2>
    Gra jest bardzo wciągająca, ale bardzo szybko wyczerpują się karty, które są zawarte w zestawie.
  </h2>

  <%= link_to "Załóż konto", signup_path, class: "btn btn-large btn-primary"  %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>