<% provide(:title, 'Strona główna') %>
<h1>Strona główna</h1>

<h3>Witam na stronie poświęconej grze Tabu:)</h3>

<p>Gra jest bardzo wciągająca, ale bardzo szybko wyczerpują się karty, które są zawarte w zestawie.</p>
