<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Dodano <%= time_ago_in_words(micropost.created_at) %> temu.
  </span>
  <% if current_user?(micropost.user) %>
      <%= link_to "Usuń ", micropost, method:  :delete,
                  confirm: "Na pewno?",
                  title:   micropost.content %>
  <% end %>
</li>
