<footer class="footer">
  <small>
    Tabus, by Grzegorz Miszewski
  </small>
  <nav>
    <ul>
      <li><%= link_to "O stronie",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>