<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Tabus", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Strona główna",    root_path %></li>
          <li><%= link_to "Karty",    cards_path %></li>
          <li><%= link_to "Zaloguj się", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>